**/.classpath
**/.project
**/.jazzignore
**/.settings/
**/bin/
**/target/
**/.aptGenerated/
**/.apt_generated/
.metadata/
**/*.?ar
**/*.zip
.jazz5/
**/*.class
**/.lock
**/*.cvsignore
**/.SVN/
**/.factorypath
RemoteSystemTempFiles/
.recommenders/
**/ibmconfig/
**/orbtrc*.txt
**/META-INF/maven/
